extends layout

block content
    table#table.table.table-striped
        thead
            tr
                th First Name
                th Last Name
                th Email
                th Phone
                th Address
                th City
                th State
        tbody
            for person in personList
                 tr
                     td #{person.first_name}
                     td #{person.last_name}
                     td #{person.email}
                     td #{person.phone}
                     td #{person.street_address}
                     td #{person.city}
                     td #{person.state}
    //script(src='js/dataTable.js')